
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


header h1{
    font-style: italic;
    font-family: cursive;
    text-align: center;
    margin-top: 40px;
}

header h1 span{
    color: red;
}


.container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login_box{
    width: 380px;
    padding: 40px;
    background: rgba(255,255,255,0.12);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login_box h1{
    font-weight: 600;
}

.login_here{
    font-size: 14px;
    opacity: 0.8;
}

.input_email,
.input_password{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 40px;
}

.input_email img,
.input_password img{
    margin-right: 10px;
}


.input_email input,
.input_password input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;

   
    padding-left: 5px;
    font-size: 14px;
}

.login_button{
    margin: 10px 40px;
    padding: 10px;
    border-radius: 50px;
    background: red;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}


footer{
    position: fixed;
    bottom: 5px;
    width: 100%;
}

footer h3{
    text-align: center;
}
